.button {
  font: inherit;
  border: 1px solid #002137;
  background: #003366;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #6600ff;
  border-color: #6600ff;
}

.button:focus {
  outline: none;
}
